Repository kyma-project/opentelemetry-collector-components, pull requests merged in 2024-08, with the labels that each got.

#100 docs: Fix kymastatsreceiver config example
  receiver/kymastatsreceiver/README.md
Labels: cla: yes, lgtm, area/kymastatsreceiver, size/XS, kind/docs

#105 chore: Prepare for repo-rules
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
Labels: cla: yes, lgtm, area/ci, kind/chore

#109 feat: Update scope names to comply with the new convention
  receiver/kymastatsreceiver/internal/metadata/generated_metrics.go
  receiver/kymastatsreceiver/internal/metadata/generated_status.go
  receiver/kymastatsreceiver/metadata.yaml
  receiver/kymastatsreceiver/testdata/metrics.yaml
  receiver/singletonreceivercreator/internal/metadata/generated_status.go
  receiver/singletonreceivercreator/internal/metadata/generated_telemetry.go
  receiver/singletonreceivercreator/internal/metadata/generated_telemetry_test.go
  receiver/singletonreceivercreator/metadata.yaml
Labels: kind/feature, cla: yes, lgtm, area/singletonreceivercreator, area/kymastatsreceiver, size/S

#112 chore: Replace workflow path filter with changed-files
  .github/workflows/pr-code-checks.yml
Labels: cla: yes, lgtm, size/M, area/ci, kind/chore

#117 docs: Update release process
  docs/contributor/releasing.md
Labels: cla: yes, lgtm, area/release, size/XS, kind/docs
