Repository kyma-project/opentelemetry-collector-components, pull requests merged in 2024-07, with the labels that each got.

#61 fix: Fix reuse file
  .reuse/dep5
  internal/k8sconfig/config.go
Labels: kind/bug, cla: yes, lgtm, area/ci, size/XS

#60 chore: Bump otel-collector version to 0.103.0
  internal/tools/go.mod
  internal/tools/go.sum
  receiver/dummymetricsreceiver/generated_component_test.go
  receiver/singletonreceivercreator/generated_component_test.go
  receiver/singletonreceivercreator/samples/collectors-with-leader.yaml
Labels: cla: yes, lgtm, size/M

#58 feat: Rename dummy metrics receiver to dummy receiver
  cmd/otelkymacol/builder-config.yaml
  cmd/otelkymacol/components.go
  cmd/otelkymacol/go.mod
  docs/contributor/releasing.md
  go.mod
  internal/components/components.go
  otel-collector/builder-config-PR.yaml
  otel-collector/builder-config-release.yaml
  receiver/dummymetricsreceiver/docs.go
  receiver/dummymetricsreceiver/metadata.yaml
  receiver/dummymetricsreceiver/testdata/config.yaml
  receiver/dummyreceiver/Makefile
  receiver/dummyreceiver/README.md
  receiver/dummyreceiver/config.go
  receiver/dummyreceiver/config_test.go
  receiver/dummyreceiver/docs.go
  receiver/dummyreceiver/documentation.md
  receiver/dummyreceiver/factory.go
  receiver/dummyreceiver/generated_component_test.go
  receiver/dummyreceiver/generated_package_test.go
  receiver/dummyreceiver/go.mod
  receiver/dummyreceiver/go.sum
  receiver/dummyreceiver/internal/metadata/generated_config.go
  receiver/dummyreceiver/internal/metadata/generated_config_test.go
  receiver/dummyreceiver/internal/metadata/generated_metrics.go
  receiver/dummyreceiver/internal/metadata/generated_metrics_test.go
  receiver/dummyreceiver/internal/metadata/generated_resource.go
  receiver/dummyreceiver/internal/metadata/generated_resource_test.go
  receiver/dummyreceiver/internal/metadata/generated_status.go
  receiver/dummyreceiver/internal/metadata/testdata/config.yaml
  receiver/dummyreceiver/metadata.yaml
  receiver/dummyreceiver/metrics_receiver.go
  receiver/dummyreceiver/metrics_receiver_test.go
  receiver/dummyreceiver/testdata/config.yaml
Labels: cla: yes, lgtm, kind/chore, size/XL, dummyreceiver

#62 chore: Add linter config
  .golangci.yaml
  Makefile
  Makefile.Common
  receiver/dummyreceiver/config.go
  receiver/dummyreceiver/config_test.go
  receiver/dummyreceiver/docs.go
  receiver/dummyreceiver/factory.go
  receiver/dummyreceiver/metrics_receiver.go
  receiver/singletonreceivercreator/config.go
  receiver/singletonreceivercreator/config_test.go
  receiver/singletonreceivercreator/factory.go
  receiver/singletonreceivercreator/factory_test.go
  receiver/singletonreceivercreator/go.mod
  receiver/singletonreceivercreator/leader_elector.go
  receiver/singletonreceivercreator/leader_elector_test.go
  receiver/singletonreceivercreator/receiver.go
  receiver/singletonreceivercreator/receiver_test.go
  receiver/singletonreceivercreator/runner.go
  receiver/singletonreceivercreator/runner_test.go
Labels: cla: yes, lgtm, size/L

#65 chore: Fix dependabot config for monorepo
  .github/dependabot.yml
Labels: cla: yes, lgtm, size/XS

#45 feat: Kyma stats receiver
  .golangci.yaml
  cmd/otelkymacol/builder-config.yaml
  cmd/otelkymacol/components.go
  cmd/otelkymacol/go.mod
  cmd/otelkymacol/go.sum
  internal/components/components_test.go
  internal/k8sconfig/config.go
  internal/k8sconfig/go.sum
  otel-collector/builder-config-PR.yaml
  otel-collector/builder-config-release.yaml
  receiver/kymastatsreceiver/Makefile
  receiver/kymastatsreceiver/README.md
  receiver/kymastatsreceiver/config.go
  receiver/kymastatsreceiver/config_test.go
  receiver/kymastatsreceiver/docs.go
  receiver/kymastatsreceiver/documentation.md
  receiver/kymastatsreceiver/factory.go
  receiver/kymastatsreceiver/factory_test.go
  receiver/kymastatsreceiver/generated_component_test.go
  receiver/kymastatsreceiver/generated_package_test.go
  receiver/kymastatsreceiver/go.mod
  receiver/kymastatsreceiver/go.sum
  receiver/kymastatsreceiver/internal/metadata/generated_config.go
  receiver/kymastatsreceiver/internal/metadata/generated_config_test.go
  receiver/kymastatsreceiver/internal/metadata/generated_metrics.go
  receiver/kymastatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kymastatsreceiver/internal/metadata/generated_resource.go
  receiver/kymastatsreceiver/internal/metadata/generated_resource_test.go
  receiver/kymastatsreceiver/internal/metadata/generated_status.go
  receiver/kymastatsreceiver/internal/metadata/testdata/config.yaml
  receiver/kymastatsreceiver/internal/resource.go
  receiver/kymastatsreceiver/kyma_scraper.go
  receiver/kymastatsreceiver/kyma_scraper_test.go
  receiver/kymastatsreceiver/metadata.yaml
  receiver/kymastatsreceiver/testdata/expected_config.yaml
  receiver/kymastatsreceiver/testdata/expected_metrics.yaml
  receiver/singletonreceivercreator/config_test.go
  receiver/singletonreceivercreator/factory_test.go
Labels: documentation, kind/feature, cla: yes, size/XXL, lgtm, area/kymastatsreceiver

#56 feat: Add leader election metrics
  Makefile
  cmd/otelkymacol/builder-config.yaml
  receiver/singletonreceivercreator/documentation.md
  receiver/singletonreceivercreator/factory.go
  receiver/singletonreceivercreator/generated_component_telemetry_test.go
  receiver/singletonreceivercreator/go.mod
  receiver/singletonreceivercreator/internal/metadata/generated_telemetry.go
  receiver/singletonreceivercreator/internal/metadata/generated_telemetry_test.go
  receiver/singletonreceivercreator/leader_elector.go
  receiver/singletonreceivercreator/leader_elector_test.go
  receiver/singletonreceivercreator/metadata.yaml
  receiver/singletonreceivercreator/receiver.go
  receiver/singletonreceivercreator/receiver_test.go
Labels: kind/feature, cla: yes, lgtm, size/L, area/singletonreceivercreator

#71 chore: Exclude generated files from whitesource scans
  sec-scanners-config.yaml
Labels: cla: yes, lgtm, area/ci, kind/chore, size/XS

#63 test: Add missing unit test for singleton reveiver
  .testcoverage.yml
  receiver/singletonreceivercreator/factory.go
  receiver/singletonreceivercreator/go.mod
  receiver/singletonreceivercreator/leader_elector.go
  receiver/singletonreceivercreator/leader_elector_test.go
  receiver/singletonreceivercreator/receiver.go
  receiver/singletonreceivercreator/receiver_test.go
  receiver/singletonreceivercreator/runner.go
  receiver/singletonreceivercreator/runner_test.go
Labels: cla: yes, lgtm, size/L, area/singletonreceivercreator, kind/missing-test

#69 feat: Make module status conditions metric optional
  receiver/kymastatsreceiver/kyma_scraper.go
  receiver/kymastatsreceiver/kyma_scraper_test.go
Labels: kind/feature, cla: yes, lgtm, size/M, area/kymastatsreceiver

#67 chore: Change release process
  .github/workflows/pr-build-image.yaml
  .github/workflows/tag-release.yml
  docs/contributor/releasing.md
  otel-collector/Dockerfile
  otel-collector/builder-config-release.yaml
  otel-collector/builder-config.yaml
Labels: cla: yes, lgtm, size/L

#70 chore: Solve Checkmarx race condition alert
  receiver/dummyreceiver/factory.go
  receiver/dummyreceiver/metrics_receiver.go
Labels: cla: yes, lgtm, size/M, kind/chore, area/dummyreceiver

#75 chore: Add build trigger glob pattern for version with suffix
  .github/workflows/tag-release.yml
Labels: cla: yes, lgtm, area/ci, kind/chore

#77 chore: Update to golang 1.22.5
  cmd/otelkymacol/go.mod
  go.mod
  internal/k8sconfig/go.mod
  internal/tools/go.mod
  otel-collector/Dockerfile
  otel-collector/envs
  receiver/dummyreceiver/go.mod
  receiver/kymastatsreceiver/go.mod
  receiver/singletonreceivercreator/go.mod
Labels: cla: yes, lgtm, area/ci, kind/chore, size/S

#80 feat: Dynamic module discovery in kymastatsreceiver
  .golangci.yaml
  internal/k8sconfig/config.go
  receiver/kymastatsreceiver/README.md
  receiver/kymastatsreceiver/config.go
  receiver/kymastatsreceiver/config_test.go
  receiver/kymastatsreceiver/factory.go
  receiver/kymastatsreceiver/factory_test.go
  receiver/kymastatsreceiver/internal/modulediscovery/client.go
  receiver/kymastatsreceiver/internal/modulediscovery/client_test.go
  receiver/kymastatsreceiver/internal/resource.go
  receiver/kymastatsreceiver/kyma_scraper.go
  receiver/kymastatsreceiver/kyma_scraper_test.go
  receiver/kymastatsreceiver/testdata/expected_config.yaml
Labels: kind/feature, cla: yes, lgtm, size/L, area/kymastatsreceiver

#78 chore: Add label check to gha
  .github/pull-request-template.md
  .github/workflows/pr-github-checks.yml
Labels: area/documentation, cla: yes, lgtm, size/M, kind/chore

#88 chore: Improve method name
  receiver/kymastatsreceiver/config.go
  receiver/kymastatsreceiver/factory.go
Labels: cla: yes, lgtm, area/kymastatsreceiver, kind/chore, size/XS

#89 feat: Resource exclude list in kymastatsreceiver
  receiver/kymastatsreceiver/README.md
  receiver/kymastatsreceiver/config.go
  receiver/kymastatsreceiver/config_test.go
  receiver/kymastatsreceiver/factory.go
  receiver/kymastatsreceiver/internal/modulediscovery/client.go
  receiver/kymastatsreceiver/internal/modulediscovery/client_test.go
  receiver/kymastatsreceiver/kyma_scraper.go
Labels: kind/feature, cla: yes, lgtm, size/L, area/kymastatsreceiver

#94 chore: Group k8s dependency-bump PRs
  .github/dependabot.yml
Labels: cla: yes, lgtm, area/dependency, kind/chore, size/XS

#93 feat: Config validation in singletonreceivercreator
  receiver/kymastatsreceiver/config_test.go
  receiver/singletonreceivercreator/README.md
  receiver/singletonreceivercreator/config.go
  receiver/singletonreceivercreator/config_test.go
  receiver/singletonreceivercreator/factory.go
  receiver/singletonreceivercreator/factory_test.go
  receiver/singletonreceivercreator/testdata/config.yaml
Labels: kind/feature, cla: yes, lgtm, size/L, area/singletonreceivercreator

#97 feat: Remove module discovery in kymastatsreceiver
  .golangci.yaml
  internal/k8sconfig/config.go
  receiver/kymastatsreceiver/README.md
  receiver/kymastatsreceiver/config.go
  receiver/kymastatsreceiver/config_test.go
  receiver/kymastatsreceiver/factory.go
  receiver/kymastatsreceiver/factory_test.go
  receiver/kymastatsreceiver/internal/modulediscovery/client.go
  receiver/kymastatsreceiver/internal/modulediscovery/client_test.go
  receiver/kymastatsreceiver/kyma_scraper.go
  receiver/kymastatsreceiver/kyma_scraper_test.go
  receiver/kymastatsreceiver/testdata/config.yaml
  receiver/kymastatsreceiver/testdata/expected_config.yaml
  receiver/kymastatsreceiver/testdata/metrics.yaml
Labels: kind/feature, cla: yes, lgtm, size/L, area/kymastatsreceiver
