Repository kyma-project/opentelemetry-collector-components, pull requests merged in 2024-09, with the labels that each got.

#118 feat: Rename module to resources and look for all resources
  .golangci.yaml
  receiver/kymastatsreceiver/README.md
  receiver/kymastatsreceiver/config.go
  receiver/kymastatsreceiver/config_test.go
  receiver/kymastatsreceiver/documentation.md
  receiver/kymastatsreceiver/internal/metadata/generated_config.go
  receiver/kymastatsreceiver/internal/metadata/generated_config_test.go
  receiver/kymastatsreceiver/internal/metadata/generated_metrics.go
  receiver/kymastatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kymastatsreceiver/internal/metadata/generated_resource.go
  receiver/kymastatsreceiver/internal/metadata/generated_resource_test.go
  receiver/kymastatsreceiver/internal/metadata/testdata/config.yaml
  receiver/kymastatsreceiver/kyma_scraper.go
  receiver/kymastatsreceiver/kyma_scraper_test.go
  receiver/kymastatsreceiver/metadata.yaml
  receiver/kymastatsreceiver/testdata/config.yaml
  receiver/kymastatsreceiver/testdata/metrics.yaml
Labels: area/documentation, kind/feature, cla: yes, lgtm, area/kymastatsreceiver, size/XL

#121 feat: Add connectors to collector image
  otel-collector/builder-config.yaml
Labels: kind/feature, cla: yes, lgtm, size/XS, area/tools

#123 fix: Revert rename module to resources and look for all resources
  .golangci.yaml
  receiver/kymastatsreceiver/README.md
  receiver/kymastatsreceiver/config.go
  receiver/kymastatsreceiver/config_test.go
  receiver/kymastatsreceiver/documentation.md
  receiver/kymastatsreceiver/internal/metadata/generated_config.go
  receiver/kymastatsreceiver/internal/metadata/generated_config_test.go
  receiver/kymastatsreceiver/internal/metadata/generated_metrics.go
  receiver/kymastatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kymastatsreceiver/internal/metadata/generated_resource.go
  receiver/kymastatsreceiver/internal/metadata/generated_resource_test.go
  receiver/kymastatsreceiver/internal/metadata/testdata/config.yaml
  receiver/kymastatsreceiver/kyma_scraper.go
  receiver/kymastatsreceiver/kyma_scraper_test.go
  receiver/kymastatsreceiver/metadata.yaml
  receiver/kymastatsreceiver/testdata/config.yaml
  receiver/kymastatsreceiver/testdata/metrics.yaml
Labels: kind/bug, cla: yes, lgtm, area/kymastatsreceiver, size/XL

#124 feat: Rename module to resources and look for all resources
  .golangci.yaml
  receiver/kymastatsreceiver/README.md
  receiver/kymastatsreceiver/config.go
  receiver/kymastatsreceiver/config_test.go
  receiver/kymastatsreceiver/documentation.md
  receiver/kymastatsreceiver/internal/metadata/generated_config.go
  receiver/kymastatsreceiver/internal/metadata/generated_config_test.go
  receiver/kymastatsreceiver/internal/metadata/generated_metrics.go
  receiver/kymastatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kymastatsreceiver/internal/metadata/generated_resource.go
  receiver/kymastatsreceiver/internal/metadata/generated_resource_test.go
  receiver/kymastatsreceiver/internal/metadata/testdata/config.yaml
  receiver/kymastatsreceiver/kyma_scraper.go
  receiver/kymastatsreceiver/kyma_scraper_test.go
  receiver/kymastatsreceiver/metadata.yaml
  receiver/kymastatsreceiver/testdata/config.yaml
  receiver/kymastatsreceiver/testdata/metrics.yaml
Labels: kind/feature, cla: yes, lgtm, area/kymastatsreceiver, size/XL

#129 chore: Update golang to 1.23.1
  cmd/otelkymacol/go.mod
  go.mod
  internal/k8sconfig/go.mod
  internal/tools/go.mod
  otel-collector/envs
  receiver/dummyreceiver/go.mod
  receiver/kymastatsreceiver/go.mod
  receiver/singletonreceivercreator/go.mod
Labels: cla: yes, lgtm, kind/chore, size/S, area/tools
